.job_title_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}
.phone_number_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}
.bold {
    font-weight: bold;
}
.well.profile-description {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    h3 {
        margin-top: 0;
    }
}
